/.gradio
/.ipynb_checkpoints
/2.10
/kaggle_simpson_testset
/modelo_best_2.keras
/modelo_efficientnet.keras
/modelo_efficientnet_finetuned.keras
/modelo_optimo.keras
/modelo_optimo2.keras
/modelo_optimo3.keras
/modelo_optimo8.keras
/modelo_resnet.keras
/Simpsons_copia2.ipynb
/simpsons_dataset
/simpsons_recortes
/simpsons_resultados_mobilenet.csv
/simpsons_resultados_model5.csv
/simpsons_resultados_model8.csv
/Untitled.ipynb
/weights.best.keras